#account {
  .card-title {
    padding-bottom: 5px;
    border-bottom: 4px solid #17a2b8;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
  }

  .card-text {
    margin: 0 3px 3px 0;
    display: flex;
    justify-content: space-between;
  }

  .btn {
    margin-top: 10px;
  }
}
